
body{
	margin:20px 15% 20px 15%;
	background-color:  lightgrey;
	color:#0d0d59;
	font-family: 'Times New Roman', serif;
}

h1{
	color:#996600;
	letter-spacing: 1px;
}





a{
	
	font-weight:700;
}	

button{

  background-color: #ffcc66;
  color:Black;
  font-family: 'Times New Roman', serif;
}

button:hover{
  background-color: #ffff80;
  font-family: 'Times New Roman', serif;
}


.center{

    max-width:100%;
    height: auto;
    display:block;
    margin: 15 auto  ;
	border:solid 5px 
	clear:center;
}

.righty{
    max-width:100%;
    height: auto;
	float:right;
	margin: 12px;
	border:solid 5px 
	clear:right;
}

.lefty{
    max-width:100%;
    height: auto;
	float:left;
	margin: 12px;
	border:solid 5px 
	clear:left;
}

