@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
body{
    margin:100px;
    background-color:#ebe0e0;
    font-family:'Times New Roman', serif;
  }
  
  h1{
    background-color:#f5e6ac;
    color: black;
    width:150px;
    height:40px;
    border:solid 3px #1f1f14;
    font-family:'Times New Roman', serif;
    font-size: 35px;
    padding:10px;
    font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
  }
  h2{
    color: #9f80ff;
  }
  
  
  img{
    width:600px;
    text-align: wrap;
    border:solid 10px white;
  }
  
  p{
    text-align: justify;
    line-height: 30px;
  }

  ul {
    margin-bottom: 20px auto;
    border: 3px solid black;
    padding: 10px;
    list-style-type: none;
    width: 250px;
    border-radius: 5px;
    background-color: azure;
}
ul li {
  text-align: justify;
  line-height: 35px;
}

  button{
    background-color:#b3ecff;
    color:white;
    font-family: 'Times New Roman', serif;
  }
  
  button:hover{
    background-color:#9f80ff;
    font-family: 'Times New Roman', serif;
  }

 
  
  